<!--
   http://blogjquery.ru/prostoj-slajder-na-jquery-s-navigaciej/
-->
<script src="../jquery-1.7.2.min.js"></script>
<style>
	#slider-wrap {
		/*     */
		
		display: flex;
		width: 960px;
	}

	#slider {
		/*   */
		width: 940px;
		height: 360px;
		overflow: hidden;
		position: relative;
		border: #eee solid 10px;
	}

	#slider img {
		width: 940px;
		height: 360px;
	}

	.slide {
		/*  */
		width: 100%;
		height: 100%;
	}

	.sli-links {
		margin-top: 10px;
		text-align: center;
	}

	.sli-links .control-slide {
		margin: 2px;
		display: inline-block;
		width: 16px;
		height: 16px;
		overflow: hidden;
		text-indent: -9999px;
		background: url(radioBg.png) center bottom no-repeat;
	}

	.sli-links .control-slide:hover {
		cursor: pointer;
		background-position: center center;
	}

	.sli-links .control-slide.active {
		background-position: center top;
	}

	#prewbutton,
	#nextbutton {
		display: block;
		width: 15px;
		height: 100%;
		position: absolute;
		top: 0;
		overflow: hidden;
		text-indent: -999px;
		opacity: 0.8;
		z-index: 3;
		outline: none !important;
		background: url(arrowBg.png) left center no-repeat;
	}

	#prewbutton {
		left: 10px;
	}

	#nextbutton {
		right: 10px;
		background: url(arrowBg.png) right center no-repeat;
	}

	#prewbutton:hover,
	#nextbutton:hover {
		opacity: 1;
	}

	.z1text {
		font-size: 20px;
		color: #fff;
		background: #1800FF;
		border: 1px solid #0C00E2;
		width: 300px;
		margin-top: 230px;
		border-right: 0px;
		right: 0px;
		position: absolute;
		padding: 12px 10px;
		background: rgb(0, 84, 163);
		background: -moz-linear-gradient(top, rgba(0, 84, 163, 1) 0%, rgba(0, 42, 160, 1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 84, 163, 1)), color-stop(100%, rgba(0, 42, 160, 1)));
		background: -webkit-linear-gradient(top, rgba(0, 84, 163, 1) 0%, rgba(0, 42, 160, 1) 100%);
		background: -o-linear-gradient(top, rgba(0, 84, 163, 1) 0%, rgba(0, 42, 160, 1) 100%);
		background: -ms-linear-gradient(top, rgba(0, 84, 163, 1) 0%, rgba(0, 42, 160, 1) 100%);
		background: linear-gradient(to bottom, rgba(0, 84, 163, 1) 0%, rgba(0, 42, 160, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0054a3', endColorstr='#002aa0', GradientType=0);
	}
</style>
<script>
	(function ($) {
		var hwSlideSpeed = 700;
		var hwTimeOut = 15000;
		var hwNeedLinks = true;
		var slilinkss = true;

		$(document).ready(function (e) {
			$('.slide').css({
				"position": "absolute",
				"top": '0',
				"left": '0'
			}).hide().eq(0).show();
			var slideNum = 0;
			var slideTime;
			slideCount = $("#slider .slide").size();
			var animSlide = function (arrow) {
				clearTimeout(slideTime);
				$('.slide').eq(slideNum).fadeOut(hwSlideSpeed);
				if (arrow == "next") {
					if (slideNum == (slideCount - 1)) {
						slideNum = 0;
					} else {
						slideNum++
					}
				} else if (arrow == "prew") {
					if (slideNum == 0) {
						slideNum = slideCount - 1;
					} else {
						slideNum -= 1
					}
				} else {
					slideNum = arrow;
				}
				$('.slide').eq(slideNum).fadeIn(hwSlideSpeed, rotator);
				$(".control-slide.active").removeClass("active");
				$('.control-slide').eq(slideNum).addClass('active');
			}
			if (hwNeedLinks) {
				var $linkArrow = $('<a id="prewbutton" href="#">&lt;</a><a id="nextbutton" href="#">&gt;</a>')
					.prependTo('#slider');
				$('#nextbutton').click(function () {
					animSlide("next");
					return false;
				})
				$('#prewbutton').click(function () {
					animSlide("prew");
					return false;
				})
			}
			var $adderSpan = '';
			$('.slide').each(function (index) {
				$adderSpan += '<span class = "control-slide">' + index + '</span>';
			});
			$('<div class ="sli-links">' + $adderSpan + '</div>').appendTo('#slider-wrap');
			$(".control-slide:first").addClass("active");
			$('.control-slide').click(function () {
				var goToNum = parseFloat($(this).text());
				animSlide(goToNum);
			});
			var pause = false;
			var rotator = function () {
				if (!pause) {
					slideTime = setTimeout(function () {
						animSlide('next')
					}, hwTimeOut);
				}
			}
			$('#slider-wrap').hover(
				function () {
					clearTimeout(slideTime);
					pause = true;
				},
				function () {
					pause = false;
					rotator();
				});
			rotator();


			if (!slilinkss) $('.sli-links').css({
				"display": "none"
			});

			$(window).keydown(function (event) {
				switch (event.keyCode) {
					case 37:
						animSlide("next");
						break;
					case 39:
						animSlide("prew");
						break;
				}
			})
		});

	})(jQuery);
</script>
<div id="slider-wrap">
	<div id="slider">
		<div class="slide" style="background: url(img/001.jpg) no-repeat center; background-size: cover;">
			<div class="z1text"> </div>
		</div>
		<div class="slide" style="background: url(img/002.jpg) no-repeat center; background-size: cover;">
			<div class="z1text">
				<div style="border-bottom: 1px dashed #2673FF;margin-bottom: 14px;padding-bottom: 4px;"> </div>
				<div style="font-size: 12px;"><img src="img/004.jpg"
						style="float: left; width: 60px;height: auto;margin-right: 10px;border: 2px solid #FFFFFF;"> , :
					, , , !</div>
			</div>
		</div>
		<div class="slide" style="background: url(img/003.jpg) no-repeat center; background-size: cover;"><iframe
				width="100%" height="100%"
				src="http://www.youtube.com/embed/LDZX4ooRsWs?list=PLH6pfBXQXHECUaIU3bu9rjG2L6Uhl5A2q" frameborder="0"
				allowfullscreen></iframe></div>
		<div class="slide" style="background: url(img/004.jpg) no-repeat center; background-size: cover;"></div>
	</div>
</div>